@import "tailwindcss";

@theme inline {
  --font-poppins: var(--font-poppins), Helvetica, Arial, sans-serif;
  --font-caveat: var(--font-caveat), cursive;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: oklch(0.97 0.01 60);
  color: oklch(0.3 0.01 60);
}

a {
  color: oklch(0.5 0.16 35);
}
